@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS Variables for Background and Foreground */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Isocpeur";
  src: url("/fonts/isocpeur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Body Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Isocpeur", sans-serif; /* Updated font-family */
  margin: 0;
}

/* Typography Defaults */
h1, h2, h3, h4, h5, h6 {
  font-family: "Isocpeur", sans-serif;
}

/* Utility Class for Isocpeur Font */
.font-isocpeur {
  font-family: "Isocpeur", sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
}