@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS Variables for Background and Foreground */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Isocpeur";
  src: url("/fonts/isocpeur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Body Styles */
body {
  color: var(--foreground);
  background: var(--background);
  background-color: black;
  font-family: "Isocpeur", sans-serif; /* Updated font-family */
  margin: 0;
}

/* Typography Defaults */
h1, h2, h3, h4, h5, h6 {
  font-family: "Isocpeur", sans-serif;
}

/* Utility Class for Isocpeur Font */
.font-isocpeur {
  font-family: "Isocpeur", sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
}

mux-player {
  width: 100%;
  height: 100vh;
  margin: auto;
}

select {
  appearance: none; /* Hides the native dropdown arrow */
  -webkit-appearance: none; /* Safari compatibility */
  -moz-appearance: none; /* Firefox compatibility */
  background: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
